.system-line::after {

    content: "_";

    animation: blink 1s infinite;
}

@keyframes blink {

    50% {
        opacity: 0;
    }
}

@keyframes rotateBorder {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.reveal {

    opacity: 0;

    transform: translateY(50px);

    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.reveal.active {

    opacity: 1;

    transform: translateY(0);
}

@keyframes pulse {

    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}